.footer
    width: 2400px
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 260px
    padding: 75px 140px 55px 140px
    
.footer

    &-icons
        display: inline-block
        font-size: 27px

        &-icon
            margin-left: 20px
            color: #cecfcf

.footer-part-one
    display: flex
    justify-content: space-between

    & .logo
        width: 280px

.footer-part-two
    margin: 0
    font-size: 20px
    text-align: center

    & span:first-child
        font-family: 'Helvetica Neue Condensed Black'
        color: #cecfcf
        text-transform: uppercase

    & span:last-child
        font-family: 'Helvetica Neue Thin'
        color: #cecfcf
        text-transform: uppercase