.loading
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 2120px
    height: 250px
    
    &-info
        font-family: 'Helvetica Neue Roman'
        font-size: 30px
        text-transform: uppercase
        color: #acafb0

.lds-ellipsis 
  display: inline-block
  position: relative
  width: 125px
  height: 70px

.lds-ellipsis div 
  position: absolute
  top: 33px
  width: 20px
  height: 20px
  border-radius: 50%
  background: #0aaee4
  animation-timing-function: cubic-bezier(1, 1, 1, 1)

.lds-ellipsis div:nth-child(1) 
  left: 15px
  animation: lds-ellipsis1 0.5s infinite

.lds-ellipsis div:nth-child(2) 
  left: 15px
  animation: lds-ellipsis2 0.5s infinite

.lds-ellipsis div:nth-child(3) 
  left: 50px
  animation: lds-ellipsis2 0.5s infinite

.lds-ellipsis div:nth-child(4) 
  left: 80px
  animation: lds-ellipsis3 0.5s infinite

@keyframes lds-ellipsis1 
  0% 
    transform: scale(0)
  
  100% 
    transform: scale(1)
  

@keyframes lds-ellipsis3 
  0% 
    transform: scale(1)
  
  100% 
    transform: scale(0)
  

@keyframes lds-ellipsis2 
  0% 
    transform: translate(0, 0)
  
  100% 
    transform: translate(29px, 0)