.header-sliderbar
    display: flex
    flex-direction: column
    justify-content: space-between
    align-self: flex-end
    height: 225px

    & span
        display: inline-block
        width: 8px
        height: 25px
        border-radius: 3px
        background: #cecfcf

    & span:nth-of-type(2)
        background: #0aaee4