.main-item
    display: inline-block
    width: 501px
    margin-bottom: 45px
    border-radius: 5px
    background-color: #fff
    
    &-info
        padding: 50px
        
        &-tm
            display: flex
            justify-content: space-between
            
            &-title
                display: inline-block
                margin: 0
                font-family: 'Helvetica Neue Bold'
                font-size: 23px
                text-transform: uppercase

            &-mark
                display: inline-block
                padding: 2px 15px
                border: 1px solid #0aaee4
                border-radius: 5px
                font-family: 'Helvetica Neue Bold'
                font-size: 19px
                color: #0aaee4

        &-ganres
            font-family: 'Helvetica Neue Bold'
            font-size: 19px
            color: #0aaee4
