.header
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 2400px
    height: 1100px
    padding: 45px 140px
    background-image: url(https://res.cloudinary.com/kitotoinshy/image/upload/v1596566405/react/hw01/junglebook_l5wql6.png)
    background-size: contain