.self-btn
    width: 200px
    padding: 7px 0
    border-radius: 8px
    font-size: 28px
    text-align: center
    color: #fff

.btn-main
   background: #0aaee4
   border-color: #0aaee4

.btn-banner
    width: 235px