/* @import "compass/css3"; */

/*
	A. Mini Reset 
*/
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

::before,
::after {
    content: "";
}

html,
body {
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}

html {
    font-size: 100%;
}

body {
    background: #ecf0f1;
    color: #34495e;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

td {
    vertical-align: middle;
}

a {
    color: #2c3e50;
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #2c3e50;
    /* margin-top: 20px; */
    font-size: 0.7em;
    font-weight: 700;
    padding: 0.1em 0.4em;
    text-align: center;
    -webkit-transition: color 0.3s, border-color 0.3s;
    -moz-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
}

.btn:hover {
    border-color: #16a085;
    color: #16a085;
}

/* basic grid, only for this demo */

.align {
    clear: both;
    margin: 90px auto 20px;
    width: 100%;
    max-width: 1170px;
    text-align: center;
}

.align > li {
    width: 500px;
    min-height: 300px;
    display: inline-block;
    margin: 30px 20px 30px 30px;
    padding: 0 0 0 60px;
    vertical-align: top;
}

.form-control {
    margin: 10px 0;
}
