.main-navbar
    display: flex
    justify-content: space-between
    border-bottom: 1px solid #444

.main-navbar-buttons

    & .btn
        font-size: 28px
        color: #444

        &:last-of-type
            margin-left: 20px

        &:hover
            color: #0aaee4