@font-face 
  font-family: 'Helvetica Neue Condensed Black'
  font-style: normal
  font-weight: normal
  src: local('Helvetica Neue Condensed Black'), url(../../fonts/HelveticaNeueCondensedBlack.ttf) format('truetype')


@font-face 
  font-family: 'Helvetica Neue Thin'
  font-style: normal
  font-weight: normal
  src: local('Helvetica Neue Thin'), url(../../fonts/HelveticaNeue-Thin.ttf) format('truetype')
  

@font-face 
  font-family: 'Helvetica Neue Bold'
  font-style: normal
  font-weight: normal
  src: local('Helvetica Neue Bold'), url(../../fonts/HelveticaNeue-Bold.ttf) format('truetype')
  

@font-face 
  font-family: 'Helvetica Neue Roman'
  font-style: normal
  font-weight: normal
  src: local('Helvetica Neue Roman'), url(../../fonts/HelveticaNeueCyr-Roman.ttf) format('truetype')

.container
  max-width: 2400px
  margin: 0 auto